# Ambiente virtual
.venv/
venv/

# Caches Python
__pycache__/
*.py[cod]
.pytest_cache/

# IDE
.vscode/
bairros_unique.csv
distancias_enderecos.csv
ego_bairro.csv
graus.csv

*.html
*.png
*.json

microrregioes.json
percurso_nova_descoberta_setubal.json
ranking_bairros.json
recife_global.json